@model IEnumerable<MusicLibrary.Models.SongModel>

@{
    ViewBag.Title = "Song Library";
}

<h2>Song Library</h2>

<p>
    @Html.ActionLink("Create New", "AddNewSong", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.SongId }) |*@
            @Html.ActionLink("Details", "Details", new {  id=item.SongId }, new { @class = "btn btn-primary btn-large" }) 
            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
